@import "../../scss/colors";

.search-box {
    &__wrapper {
        display: flex;
        margin-bottom: 1vh;
        position: relative;
    }

    &__result-list {
        width: 9.9vw;
        position: absolute;
        top: calc(100% + 0.05rem);
        background-color: white;
    }

    &-result {
        &__item {
            padding: 0.2vw;
        }

        &__image {
            padding-right: 0.2vw;

            img {
                width: 2.9rem;
                height: auto;
            }
        }

        &__details {
            display: flex;
            align-items: center;
            padding-top: 0.2vw;
            padding-left: 0.2vw;
            padding-right: 0.2vw;
            background-color: $color-white;

            &:hover {
                cursor: pointer;
                background-color: $color-neutral-gray;
            }
        }
    }

    &__input-wrapper {
        width: 10vw;
        height: 4vh;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        position: relative;

        #search-bar {
            z-index: 2;
        }

        #search-bar-disabled {
            z-index: 1;
            color: gray;
            cursor: none;
        }
    }

    &__search-icon {
        align-self: center;
        position: absolute;
        right: 0.25vw;
        top: 0.5vh;
        color: $color-black;

        &:hover {
            cursor: pointer;
        }
    }

    &__input {
        position: absolute;
        width: 80%;
        padding: 0.4vw;
        border: none;
        height: 3vh;
        background-color: transparent;

        &:focus-visible {
            outline: none;
        }

        &::-ms-clear {
            display: none;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }

        &::placeholder {
            color: $color-gray;
            font-weight: 600;
        }
    }
}
