@import "../../scss/colors";

.character-detail {
    &__back {
        display: flex;
        align-items: center;

        &-icon {
            color: $color-fountain-blue;
            font-size: 2vw;
        }

        &:hover {
            color: $color-fountain-blue;
            cursor: pointer;
        }
    }

    &__section {
        padding: 2vw;
        margin-bottom: 3vh;
        background-color: $color-white;
    }

    @media (max-width: 1080px) {
        &__back-icon {
            font-size: unset;
        }
    }
}
