$color-black: #000;
$color-white: #fff;
$color-light-gray: #ededed;
$color-gray: #c8c8c8;
$color-neutral-gray: #f1f1f1;
$color-dark-gray: #63666a;
$color-light-red: #f2dede;
$color-red: #dc3939;
$color-aqua-spring: #e7f8f8;
$color-fountain-blue: #5ac1b8;
$color-blizzard-blue: #9fe4ef;
