.location-information {
    &__details {
        display: grid;
        grid-template-columns: repeat(2, 10vw);
        grid-auto-rows: 5vh;
    }

    &__detail-title {
        font-weight: 700;
        padding-right: 0.5vw;
    }

    @media (max-width: 1080px) {
        &__details {
            grid-template-columns: repeat(2, 30vw);
        }
    }
}
